
*.pyc
*.xml
/HW1/HyperParamResult_sgd.pkl
/HW1/HW1_Submission.docx
/.idea/UNI-2020_AdavancedRecoSystems2.iml
/.ipynb_checkpoints/data_exploration-checkpoint.ipynb
/HW2/one_class_mf_weights_sgd/*
/HW2/bpr_mf_weights_sgd/*.csv
/HW2/results/one_class/bpr_mf_run_results.csv
/HW2/train_internal_data/negative_samples_popularity.csv
/HW2/train_internal_data/train_validation_type_popularity.csv
/HW2/train_internal_data/validation_validation_type_popularity.csv
/HW2/results/validation_results_negative_sampler_popularity_validation_type_popularity.csv
/HW2/results/prediction_negative_sampler_popularity_validation_type_popularity.csv
/HW2/results/prediction_negative_sampler_popularity_validation_type_uniform.csv
/HW2/results/prediction_negative_sampler_uniform_validation_type_uniform.csv
/HW2/results/validation_results_negative_sampler_popularity_validation_type_uniform.csv
/HW2/results/validation_results_negative_sampler_uniform_validation_type_uniform.csv
/HW2/train_internal_data/negative_samples_uniform.csv
/HW2/train_internal_data/train_validation_type_uniform.csv
/HW2/train_internal_data/validation_validation_type_uniform.csv
